name: CMake build

on:
  - push
  - pull_request

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: 'true'

      - name: Cache build directory
        uses: actions/cache@v4
        with:
          path: ${{github.workspace}}/build
          key: ${{ runner.os }}-${{ env.BUILD_TYPE }}-build-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-${{ env.BUILD_TYPE }}-build-

      - name: Install gperf
        run: |
          sudo apt-get update
          sudo apt-get install gperf

      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}} -j $(nproc --all)